
<h3>新規投稿ページ</h3>
<%= form_for @tweet do |f| %>

  <div class="field">
    <%= f.label :お店の名前 %>
    <%= f.text_field :omise, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :お店の住所・最寄り駅 %>
    <%= f.text_field :basho, :size => 30 %>
  </div>

  <div class="field">
    <%= f.label :価格帯  %>
    <%= f.number_field :nedan, :size => 10 %>
  </div>

  <div class="field">
    <%= f.label :お店の説明  %>
    <%= f.text_area :setumei, :size => "30x2" %>
  </div>

<div class="field">
    <%= f.label :感想  %>
    <%= f.text_area :kansou, :size => "30x2" %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <h5>総合評価</h5>
   <div class="post_form">
    <%= f.radio_button :overall, 5 ,id: 'star1'%>
    <label for="star1"><span class="text">最高</span>★</label>

    <%= f.radio_button :overall, 4 ,id: 'star2'%>
    <label for="star2"><span class="text">良い</span>★</label>

    <%= f.radio_button :overall, 3 ,id: 'star3'%>
    <label for="star3"><span class="text">普通</span>★</label>

    <%= f.radio_button :overall, 2 ,id: 'star4'%>
    <label for="star4"><span class="text">悪い</span>★</label>

    <%= f.radio_button :overall, 1 ,id: 'star5'%>
    <label for="star5"><span class="text">最悪</span>★</label>
 </div>

 <div class='form-group'>
        <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                <% end %>
            </div>
        <% end %>
    </div>

  <%= f.submit "投稿する!" %>

  
<% end %>


<%= link_to "投稿一覧に戻る", tweets_path %>